/* devanagari */
@font-face {
    font-family: 'Muthiara';
    src:url('../fonts/Muthiara_demo_version.otf');
  }

@font-face {
  font-family: 'Orange Juice';
  src:url('../fonts/Orange_Juice.ttf');
}