/* .kt-widget6 .kt-widget6__body .kt-widget6__item > span {
    color: #595d6e;
    font-weight: 400;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: auto;
    text-align: left;
    font-size: 1rem;
} */
/*
.kt-widget6 .kt-widget6__body .kt-widget6__item > span {
    color: #595d6e;
    font-weight: 400;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
    font-size: 3px;
}

.kt-widget6 .kt-widget6__body .kt-widget6__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.07rem 0;
    padding: 0px !important;
    border-bottom: 0px dashed #ebedf2 !important;
} */

h6, .h6 {
    font-size: 1rem;
    color: #a5a5a5c2;
}

.notif-num{
    font-size: 11px;
    width: 20px !important;
    height: 20px !important;
    font-weight: bold;
    background: #1dc9b7 !important;
    top: 10px !important;
    color: #fff !important;
}

.zn-ca {
    padding: 10px 30px;
    background: white;
    margin: 60px 20px 0px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px #545454;
    vertical-align: middle;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control::-moz-placeholder {
    color: #d0d0d0;
    opacity: 1; }
  .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control:-ms-input-placeholder {
    color: #d0d0d0; }
  .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control::-webkit-input-placeholder {
    color: #d0d0d0; }

.kt-login.kt-login--v3 .kt-login__wrapper {
    padding: 3% 2rem 1rem 2rem;
    margin: 0 auto 2rem auto;
    overflow: hidden;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link {
    padding: 15px 35px;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    background: #2786fb21;
    border-radius: 5px;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-text {
    color: #2786fb;
}

.dataTables_wrapper .pagination .page-item.active > .page-link {
    background: #5cc2f2;
    color: #ffffff;
}

.kt-badge.kt-badge--unified-success {
    color: #1dc9b7;
    background: #E8F9F8;
}
.kt-badge.kt-badge--unified-danger {
    color: #fd3162;
    background: #FFE9FD;
}
.kt-badge.kt-badge--unified-info {
    color: #2786fb;
    background: #E9F3FF;
}

.kt-invoice-1 .kt-invoice__head .kt-invoice__items {

    border-top: 1px solid #cb49ff;
}

.znHeadCetak {
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid #efefef;
}

.znfullmodal.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .znfullmodal.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }

  .zn-list-check {
    padding: 10px 0px;
    border-bottom: 1px dashed #ececec;
    margin-bottom: 10px;
  }

  .select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999;
    background: #eaeaea;
}

.scrollStyle::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.scrollStyle::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.scrollStyle::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
            40% 0%,
            75% 84%,
            from(#5cc2f2),
            to(#5cc2f1),
            color-stop(.6,#5cc2f2));
}


#scrollStyle::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #ffffff;
}

#scrollStyle::-webkit-scrollbar
{
	width: 5px;
	background-color: #ffffff;
}

#scrollStyle::-webkit-scrollbar-thumb
{
	background-color: #1dc9b7;
	border-radius: 30px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
                    color-stop(.5, rgba(255, 255, 255, 0.2)),
        color-stop(.5, transparent), to(transparent));
}

.zn-iconbox-tittle {
    display: block;
    font-size: 12px;
}

/* .kt-aside-overlay {
    background: rgba(39, 134, 251, 0.21);
} */

.kt-spinner.kt-spinner--success:before {
    opacity: 0;
}

.kt-spinner.kt-spinner--success.zn-aktif:before {
    opacity: 1;
}

.kt-aside {
    width: 315px !important;
    left: -315px;
}

.form-control[readonly] {
    background-color: #efefef !important;
}

.zn-text-logo {
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
    color: #888888;
}
.zn-desc-invoice {
    margin-top: 10px !important;
    border: none !important;
}
.modal .modal-content .modal-header .close:before {
    font-size: 1.7rem;
    border: 1.5px dashed #b5b7c1;
    padding: 5px;
    border-radius: 5px;
}
.modal-body {
    padding: 2.5rem 1.5rem;
}
.modal-lg, .modal-xl {
    max-width: 1000px;
}

.zn-icon-modal {
    font-size: 30px;
    margin-right: 10px;
    border: 1.5px dashed #0000001a;
    padding: 5px;
    border-radius: 5px;
}

.dropdown-menu > li > a [class^="la-"], .dropdown-menu > li > a [class*=" la-"], .dropdown-menu > .dropdown-item [class^="la-"], .dropdown-menu > .dropdown-item [class*=" la-"] {
    font-size: 1.6rem;
    margin-top: -2px;
}
.modal-header {
    background: whitesmoke;
}
.zn-head-line-success {
    border-left: 3px solid #1dcac5;
    padding-left: 10px;
}

.zn-is-debet {
    background-color: rgb(29, 201, 183) !important;
    color: white !important;
    font-weight: 600;
    border: none;
}
.zn-is-kredit {
    background-color: #fd3162 !important;
    color: white !important;
    font-weight: 600;
    border: none;
}
.zn-is-disabled {
    text-align: right;
    color: black;
    background: #f7f7f7;
}

.zn-head-line-danger {
    border-left: 3px solid #fd3162;
    padding-left: 10px;
}
.zn-trophy {
    font-size: 30px;
    color: #ffb822;
    margin-right: 10px;
}
/* .invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #fd3162;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: #fd2762;
} */
.kt-widget6 .kt-widget6__body .kt-widget6__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.07rem 0;
    padding: 8px;
    border-bottom: 1px dashed #ebedf2;
}

.zn-border-home {
    
    border-top: 2px dashed #ebedf2;
    padding-top: 30px;
    margin-top: 30px;

}

.zn-border-bottom {
    border-bottom: 1px dashed #ebedf2;
}
.zn-border-top {
    border-top: 1px dashed #ebedf2;
}
.zn-fit-center {
    object-fit: cover;
    width: 120px;
    height: 120px;
  }
.zn-readonly {
    pointer-events: none;
    cursor: default;
    background:#eeeeee;
  }
.zn-rp-group {
    background: #007bff;
    color: white;
    font-weight: 600;
    font-size: 11px;
}
.zn-doc-list img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #e6eaf5;
}
.form-control::-webkit-input-placeholder {
    color: #dcdcdc;
    opacity: 1; }
  .form-control::-moz-placeholder {
    color: #dcdcdc;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #dcdcdc;
    opacity: 1; }
  .form-control::-ms-input-placeholder {
    color: #dcdcdc;
    opacity: 1; }
  .form-control::placeholder {
    color: #dcdcdc;
    opacity: 1; }
.text-danger {
    color: #fd2762 !important;
}
.accordion.accordion-light .card .card-header .card-title.collapsed {
    color: #74788d;
}
.accordion.accordion-light .card .card-header .card-title {
    margin: 0;
    font-size: 1.1rem;
    padding: 1rem 1rem 1rem 0;
    font-weight: 500;
    color: #74788d;
}
.zn-card-header {
    padding: 0 0.75rem !important;
}

span.select2-container{
    width: 100% !important;
}

#subMenu_Reff {
    height: 300px !important;
    overflow-y: auto !important;
}

.has-error .form-control-feedback {
    color: #a94442 !important;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: #a94442 !important;
    display: block;
}

/* .has-error .help-block {
    display: block !important;
} */

.has-error .form-control {
    border-color: #a94442 !important;
}

.has-error .select2-container--default .select2-selection--single {
    border-color: #a94442 !important;
}

.align-select2 {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.blockUI.blockOverlay.zzz {
    z-index: 9999 !important;
}

#loading {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #00000078;
    z-index: 9999;
    display: none;
}

.lds-facebook {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px auto;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }

    50%,
    100% {
        top: 19px;
        height: 26px;
    }
}

