
.bloc {
  width:600px;
  display:inline-block;
  text-align:center;
}
.foil-image {
  position:relative;
  /* z-index:1; */
  overflow:hidden;
  text-align:center;
  /* padding:10px; */
  /* width:468px; */
  /* margin:auto; */
  /* border:2px solid #CCC; */
  transform-origin:center center;
  transform-style:preserve-3d;
  /* -webkit-animation: move 15s infinite linear; */
  /* -moz-animation: move 3s infinite linear; */
  /* animation: move 3s infinite linear; */
}
.foil-image::after {
  content:' ';
  position:absolute;
  height:200%;
  width:200%;
  top:0px;
  left:0px;
  z-index:2;
  -webkit-animation: moveafter 3s infinite linear;
  -moz-animation: moveafter 3s infinite linear;
  animation: moveafter 3s infinite linear;
  background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 55%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(45%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(55%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 45%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 45%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 45%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 45%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* .img {
  width:468px;
  height:600px;
  background: url(coba.jpg) center center no-repeat, linear-gradient(to bottom, rgb(255, 249, 210) 0%,rgb(255, 255, 199) 50%,rgb(248, 255, 189) 100%);
  background-size:100% auto;
} */
.foil-image .img {
  background-blend-mode:multiply,normal;
}
@-webkit-keyframes move {
  0% { 
    -webkit-transform:rotateX(5deg) rotateY(-5deg) rotateZ(-1deg);
  }
  25% { 
    -webkit-transform:rotateX(5deg) rotateY(5deg) rotateZ(0deg);
  }
  50% { 
    -webkit-transform:rotateX(-5deg) rotateY(5deg) rotateZ(1deg);
  }
  75% { 
    -webkit-transform:rotateX(-5deg) rotateY(-5deg) rotateZ(0deg);
  }
  100% { 
    -webkit-transform:rotateX(5deg) rotateY(-5deg) rotateZ(-1deg);
  }
}
@-moz-keyframes move {
  0% { 
    -moz-transform:rotateX(15deg) rotateY(-15deg) rotateZ(-3deg);
  }
  25% { 
    -moz-transform:rotateX(15deg) rotateY(15deg) rotateZ(0deg);
  }
  50% { 
    -moz-transform:rotateX(-15deg) rotateY(15deg) rotateZ(3deg);
  }
  75% { 
    -moz-transform:rotateX(-15deg) rotateY(-15deg) rotateZ(0deg);
  }
  100% { 
    -moz-transform:rotateX(15deg) rotateY(-15deg) rotateZ(-3deg);
  }
}
@keyframes move {
  0% { 
    transform:rotateX(15deg) rotateY(-15deg) rotateZ(-3deg);
  }
  25% { 
    transform:rotateX(15deg) rotateY(15deg) rotateZ(0deg);
  }
  50% { 
    transform:rotateX(-15deg) rotateY(15deg) rotateZ(3deg);
  }
  75% { 
    transform:rotateX(-15deg) rotateY(-15deg) rotateZ(0deg);
  }
  100% { 
    transform:rotateX(15deg) rotateY(-15deg) rotateZ(-3deg);}
}
@-webkit-keyframes moveafter {
  0% {
    top:100%;
    left:100%;
  }
  50% {
    top:-100%;
    left:-100%;
  }
  100% {
    top:-200%;
    left:-200%;
  }
}
@-moz-keyframes moveafter {
  0% {
    top:100%;
    left:100%;
  }
  50% {
    top:-100%;
    left:-100%;
  }
  100% {
    top:-100%;
    left:-100%;
  }
}
@keyframes moveafter {
  0% {
    top:100%;
    left:100%;
  }
  50% {
    top:-100%;
    left:-100%;
  }
  100% {
    top:-100%;
    left:-100%;
  }
}