.zn-loader {
  position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 77;
background-color: #ffffff;
opacity: 1;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: center;
align-items: center;
}

.trans {
  -webkit-transition: .7s linear;
  transition: .7s linear;
}

.zn-icon-eye {
  position: absolute;
  top: 38px;
  right: 18px;
  font-size: 30px;
}

.zn-icon-notif {
  font-size: 31px !important;
  display: inline-block;
  color: #333333;
  padding: 2px !important;
  margin: 0 !important;
  padding-right: 0px !important;
  margin-right: -2px !important;
  margin-left: 4px !important;
}

.zn-box-promo {
  background: #f9f9f9;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid #ececec;
}
.zn-loader-dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 77;
  background-color: #191919f5;
  opacity: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
align-items: center;
-webkit-transition: .5s linear;
  transition: .5s linear;
}

.pt-top-panel {
  background-color: #c07b5b !important;
}
.pt-desctop-menu:not([class^=pt-hover-]) li.dropdown.active>a, .pt-desctop-menu:not([class^=pt-hover-]) li.dropdown.selected>a {
  color: #c07b5b;
}
.pt-desctop-menu:not([class^=pt-hover-]) li.dropdown>a span:before {
  background-color: #c07b5b;
}

.pt-promo-card .image-box img {
  height: 300px !important;
}

.zn-box-shadow {
box-shadow: 20px 20px 0px #c07b5b;
  /* box-shadow: 20px 20px 0px #f1e1da; */
  /* border: 5px solid #c07b5b5e; */
}

.custom-select-01 select option {
  background-color: #fff;
  border: 0;
  height: 100px;
  width: 200px;
  color: #333;
  padding: 20px !important;
  font-size: 16px;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.pt-collapse .pt-collapse-title {
  font-size: 14px;
  line-height: 26px;
  font-weight: 800;
  padding: 0 20px 0 0;
  cursor: pointer;
  color: #333;
  -webkit-transition: color .2s;
  transition: color .2s;
}


.has-error .form-control-feedback {
  color: #c07b5b !important;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
  color: #c07b5b !important;
  display: block;
}

/* .has-error .help-block {
  display: block !important;
} */

.has-error .form-control {
  border-color: #c07b5b !important;
}

.has-error .select2-container--default .select2-selection--single {
  border-color: #c07b5b !important;
}

.zn-alert-text {
  font-size: 13px;
  color: #c89c7d;
  margin-bottom: 10px;
}

.zn-border-delivery {
  height: .1875rem;
  width: 100%;
  background: #fbfbfb;
  background-position-x: -1.875rem;
  background-size: 7.25rem .1875rem;
  background-image: repeating-linear-gradient(45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px);
}

.zn-point {
  border-left: 3px solid #eedcd4;
  /* background: #f7f7f7; */
  padding: 1px 21px;
  /* border-radius: 5px; */
  margin-right: 4px;
  display: block;
  margin: 3px;
}

.zn-head-list{
  color: #808080;
  padding: 0 !important;
  font-weight: 100;
  font-size: 14px !important;
}

.zn-text-list{
  color: #808080;
  padding: 0;
  font-weight: 100;
}

.zn-text-status {
  display: inline-block;
  background: #4a4a4a;
  color: #fff;
  font-size: 14px;
  padding: 5px 25px;
  /* width: 170px; */
  font-weight:bold;
  border-radius: 5px;
  margin-top: 5px;
  text-align: center;
}

.zn-border-dashed {
  border-bottom: 2px dashed #dedede;margin-bottom: 40px;
}

.pt-table-shop-01 thead th {
  color: #333;
  font-size: 13px;
  font-weight: 800;
  padding: 12px 10px 10px 0;
}

.zn-border-brown {
  height: .1875rem;
  width: 100%;
  background: #fbfbfb;
  background-position-x: -1.875rem;
  background-size: 7.25rem .1875rem;
  background-image: repeating-linear-gradient(45deg,#c07b65,#c07b5b 33px,transparent 0,transparent 41px,#c89c7d 0,#caa389 74px,transparent 0,transparent 82px);
}
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef !important;
  opacity: 1;
}
.pt-list-row li a:hover, .pt-list-row li.active a {
  color: #c89c7d !important;
  font-weight: 600;
}

/* TIMELINE */

.zn-timeline ul {
  margin: 0;
  margin-top: 19px;
  list-style: none;
  position: relative;
  padding: 20px 24px;
  color: #808080;
  font-size: 13px;
  overflow-y: scroll;
  max-height: 250px;
  /* background: #1dc9b7; */
  border-radius: 10px;
}
.zn-timeline ul:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 2px dashed #e8e8e8;
}
.zn-timeline ul li {
  position: relative;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border-radius: 5px;
  /* width: 250px; */
  background: #f7f7f7;
  box-shadow: 0 0 4px rgba(226, 226, 226, 0.12), 0 2px 2px rgba(136, 136, 136, 0.08);
}
.zn-timeline ul li:not(:first-child) {
  margin-top: 20px;
}
.zn-timeline ul li > span {
  width: 2px;
  height: 100%;
  background: #e8e8e8;
  left: -30px;
  top: 0;
  position: absolute;
}
.zn-timeline ul li > span:before{
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #e8e8e8;
  position: absolute;
  background: #c07b5b;
  left: -5px;
  top: 0;
}
.zn-timeline ul li span:after {
  top: 100%;
}
.zn-timeline ul li > div {
  margin-left: 10px;
}
.zn-timeline div .title, .zn-timeline div .type {
  font-weight: 600;
  font-size: 12px;
}
.zn-timeline div .info {
  font-weight: 300;
}
.zn-timeline div > div {
  margin-top: 5px;
}
.zn-timeline span.number {
  height: 100%;
}
.zn-timeline span.number span {
  position: absolute;
  font-size: 10px;
  left: -35px;
  font-weight: bold;
}
.zn-timeline span.number span:first-child {
  top: -7px;
}
.zn-timeline span.number span:last-child {
  top: 100%;
}
/* END TIMELINE */

.zn-list-notif {
  font-size: 13px;
  padding: 8px 14px;
  background: #ffffff;
  border-radius: 5px;
  margin: 5px 7px;
  display: block;
}

.zn-img-tambahan {
  width: 120px !important;
  height: 124px !important;
  margin-top: 10px;
  border: 2px solid #c07b5b;
  box-shadow: 5px 5px 10px #e4e4e4;
}
.zn-color-potongan {
  color: #369a15;font-weight: bold;
}
.zn-fit-center {
  object-fit: cover;
  width: 120px;
  height: 120px;
}

.ns-box.ns-type-error{
  background: #fb6565f5 !important;
}
.ns-box.ns-effect-slidetop.ns-type-error {
  box-shadow: inset 4.5em 0 #f55656 !important;
}

.zn-readonly {
  pointer-events: none;
  cursor: default;
  background:#eeeeee;
}
option:disabled {
  background: #c89c7d;
  color: #fff;
}
a:hover {
  color: #c68160;
}

.zn-notif-icon {
  font-size: 20px;
  display: block;
  position: relative;
  top: -9px;
  width: 30px;
}

.zn-con-notif {
  background: #f5f5f5;
  padding: 10px !important;
  max-height: 300px;
  overflow-x: auto;
}

.zn-checkbox-list {
  color: #777;
  font-weight: 100;
  font-size: 14px;
}

.radio .outer {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin: 3px 5px 0 0;
  background-color: #c5c5c5;
  border: 1px solid #ebebeb;
  border-radius: 50%;
}

.radio {
  
  font-size: 14px;
}
.form-control {
  font-size: 14px;
}
.tooltip.bs-tooltip-top .arrow:before {
  border-right-color: #00cc00 !important;
}
.tooltip-inner {
  background-color: #c89c7d;
  font-size:12px;
  color: #ffffff;
  padding: 15px 15px;
  border-radius: 3px;
  width: 320px;
  line-height: 16px;
  display: block;
  opacity: 0.9;
  margin-top: 15px;
  margin-left: 12px;
}

.scrollStyle::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.scrollStyle::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.scrollStyle::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
            40% 0%,
            75% 84%,
            from(#c89c7d),
            to(#c89c7d),
            color-stop(.6,#c89c7d));
}

.datepicker .month:hover, .datepicker .year:hover {
  padding: 6px;
  background: #c07b5b;
  margin: 5px;
  color: #ffffff;
  border-radius: 5px;
}
.datepicker .month, .datepicker .year {
  padding: 6px;
  margin: 5px;
  cursor: pointer;
}

.datepicker .dropdown-menu {
  min-width: 220px;
  padding: 20px;
  position: absolute;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
  
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.datepicker .old.day,.datepicker .new.day{
  color: gainsboro;
}
.datepicker .datepicker-switch{
  text-align:center;
  cursor: pointer;
}
.datepicker .dow {
  text-align:center;
}
.datepicker .day {
  text-align:center;
  padding: 1px 10px;
  cursor: pointer;
}
.datepicker .day:hover{
  background: #c07b5b;
  padding: 1px 10px;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
}

.pt-promo-box .pt-description.pr-promo-type1 .pt-title-large:not([class^=pt-color]) {
  color: #fff;
  font-size: 22px;
}

@media only screen and (min-width: 1025px){
  .pt-tabs:not(.pt-disable-desctop) .pt-tabs__head>ul>li>span {
      position: relative;
      display: block;
      padding: 10px 0 14px;
      font-size: 14px;
      line-height: 28px;
      font-weight: 800;
      color: #333;
      cursor: pointer;
      -webkit-transition: .2s linear;
      transition: .2s linear;
  }
}