.zn-nav {
  position: fixed;
  z-index: 1000;
  box-shadow: 0px 0px 10px #00000042;
  bottom: 0;
  width: 100%;
  background: url('../img/xv.png');
}

.home_banner_area .banner_inner .banner_content h3 {
color: #ffffff;
font-size: 60px;
font-weight: bold;
font-family: JanettaSilloam;
}

.love_text_item {
background: #fff0;
margin-right: -17px;
position: relative;
z-index: 2;
/* -webkit-box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.1); */
/* box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.1); */
text-align: center;
padding: 45px 90px;
overflow: hidden;
}

.love_text_item:before {
content: "";
background: none;
position: absolute;
left: -22px;
bottom: -46px;
height: 145px;
width: 180px;
}
.right .love_text_item:before {
background: none;
right: -22px;
left: auto;
}


.nav-pills .nav-link {
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 0px;
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #000000;
  background-color: #a76b43b0;
  border-radius: 0;
}

.journey_text_items .journey_item {
  margin-bottom: 60px;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.1);
  box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.1);
  text-align: center;
  padding: 45px 90px;
  position: relative;
  overflow: hidden;
  background-image: url(../img/timer-bg.jpg);
  background-size: contain;
}


#fh5co-gallery-list {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
}
#fh5co-gallery-list li {
  display: block;
  padding: 0;
  margin: 0 0 10px 1%;
  list-style: none;
  min-height: 600px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  clear: left;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
@media screen and (max-width: 480px) {
  #fh5co-gallery-list li {
    margin-left: 0;
  }
}
#fh5co-gallery-list li a {
  min-height: 600px;
  padding: 2em;
  position: relative;
  width: 100%;
  display: block;
}
#fh5co-gallery-list li a:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 80;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.2);
}
#fh5co-gallery-list li a:hover:before {
  background: rgba(0, 0, 0, 0.5);
}
#fh5co-gallery-list li a .case-studies-summary {
  width: auto;
  bottom: 2em;
  left: 2em;
  right: 2em;
  position: absolute;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  #fh5co-gallery-list li a .case-studies-summary {
    bottom: 1em;
    left: 1em;
    right: 1em;
  }
}
#fh5co-gallery-list li a .case-studies-summary span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}
#fh5co-gallery-list li a .case-studies-summary h2 {
  color: #fff;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  #fh5co-gallery-list li a .case-studies-summary h2 {
    font-size: 20px;
  }
}
#fh5co-gallery-list li.one-third {
  width: 32.3%;
}
@media screen and (max-width: 768px) {
  #fh5co-gallery-list li.one-third {
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-gallery-list li.one-third {
    width: 100% !important;
  }
}



@media (max-width: 768px) {
  .reservation-area .app-select2 {
    margin-bottom: 20px;
  }
}



.scrollStyle::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollStyle::-webkit-scrollbar
{
    width: 4px;
    background-color: #F5F5F5;
}

.scrollStyle::-webkit-scrollbar-thumb
{
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
            40% 0%,
            75% 84%,
            from(#AA70A4),
            to(#AA70A4),
            color-stop(.6,#AA70A4));
}


#fh5co-gallery-list li.one-third {
  width: 49%;
}

.fraudio-container {
  z-index: 1000 !important;
}

.overlay-bg {
  background-color: #000;
  opacity: .9;
}

.timer_inner .timer .timer__section {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding-top: 7px;
  padding-bottom: 7px;
}

.nice-select {
  width: 100% !important;
}